<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="KFlearning.App.deps.json" Guid="*">
        <File Id="KFlearning.App.deps.json" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.App.deps.json" />
      </Component>
      <Component Id="KFlearning.App.dll" Guid="*">
        <File Id="KFlearning.App.dll" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.App.dll" />
      </Component>
      <Component Id="KFlearning.App.exe" Guid="*">
        <File Id="KFlearning.App.exe" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.App.exe" />
      </Component>
      <Component Id="KFlearning.App.pdb" Guid="*">
        <File Id="KFlearning.App.pdb" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.App.pdb" />
      </Component>
      <Component Id="KFlearning.App.runtimeconfig.json" Guid="*">
        <File Id="KFlearning.App.runtimeconfig.json" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.App.runtimeconfig.json" />
      </Component>
      <Component Id="KFlearning.Core.dll" Guid="*">
        <File Id="KFlearning.Core.dll" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.Core.dll" />
      </Component>
      <Component Id="KFlearning.Core.pdb" Guid="*">
        <File Id="KFlearning.Core.pdb" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.Core.pdb" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="*">
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="*">
        <File Id="Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="*">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.dll" Guid="*">
        <File Id="Microsoft.Extensions.Logging.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Options.dll" Guid="*">
        <File Id="Microsoft.Extensions.Options.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Primitives.dll" Guid="*">
        <File Id="Microsoft.Extensions.Primitives.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Serilog.dll" Guid="*">
        <File Id="Serilog.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.dll" />
      </Component>
      <Component Id="Serilog.Extensions.Logging.dll" Guid="*">
        <File Id="Serilog.Extensions.Logging.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="Serilog.Sinks.File.dll" Guid="*">
        <File Id="Serilog.Sinks.File.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="System.Management.dll" Guid="*">
        <File Id="System.Management.dll" KeyPath="yes" Source="$(var.SourceDir)\System.Management.dll" />
      </Component>
      <Directory Id="ref" Name="ref">
        <Component Id="KFlearning.App.dll_1" Guid="*">
          <File Id="KFlearning.App.dll_1" KeyPath="yes" Source="$(var.SourceDir)\ref\KFlearning.App.dll" />
        </Component>
      </Directory>
      <Directory Id="runtimes" Name="runtimes">
        <Directory Id="win" Name="win">
          <Directory Id="lib" Name="lib">
            <Directory Id="netcoreapp2.0" Name="netcoreapp2.0">
              <Component Id="System.Management.dll_1" Guid="*">
                <File Id="System.Management.dll_1" KeyPath="yes" Source="$(var.SourceDir)\runtimes\win\lib\netcoreapp2.0\System.Management.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="KFlearning.App.deps.json" />
      <ComponentRef Id="KFlearning.App.dll" />
      <ComponentRef Id="KFlearning.App.exe" />
      <ComponentRef Id="KFlearning.App.pdb" />
      <ComponentRef Id="KFlearning.App.runtimeconfig.json" />
      <ComponentRef Id="KFlearning.Core.dll" />
      <ComponentRef Id="KFlearning.Core.pdb" />
      <ComponentRef Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      <ComponentRef Id="Microsoft.Extensions.DependencyInjection.dll" />
      <ComponentRef Id="Microsoft.Extensions.Logging.Abstractions.dll" />
      <ComponentRef Id="Microsoft.Extensions.Logging.dll" />
      <ComponentRef Id="Microsoft.Extensions.Options.dll" />
      <ComponentRef Id="Microsoft.Extensions.Primitives.dll" />
      <ComponentRef Id="Serilog.dll" />
      <ComponentRef Id="Serilog.Extensions.Logging.dll" />
      <ComponentRef Id="Serilog.Sinks.File.dll" />
      <ComponentRef Id="System.Management.dll" />
      <ComponentRef Id="KFlearning.App.dll_1" />
      <ComponentRef Id="System.Management.dll_1" />
    </ComponentGroup>
  </Fragment>
</Wix>