<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>

  <Product Id="*" Name="KFlearning" Language="1033" Version="2.0.0" Manufacturer="Kodesiana"
           UpgradeCode="{3C1DF2CB-96CC-4249-9E74-683A8C22A388}">
    <!-- Package -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="icon.ico" SourceFile="$(var.IconFile)" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Install Conditions -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowDowngrades="no" AllowSameVersionUpgrades="no" />

    <!-- Features to install -->
    <Feature Id="ProductFeature" Title="KFlearning" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="AppShortcuts" />
    </Feature>

    <!-- Properties -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.AssetsDir)\license.rtf" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Buka KFlearning" />

    <!-- UI -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
  </Product>
</Wix>