<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>

  <Product Id="*" Name="KF-MinGW" Language="1033" Version="1.0.1" Manufacturer="Kodesiana"
           UpgradeCode="79aa0936-b707-469c-a0f1-72366c853e5e">
    <!-- Package -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="icon.ico" SourceFile="$(var.IconFile)" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- Install Conditions -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowDowngrades="no" AllowSameVersionUpgrades="no" />

    <!-- Features to install -->
    <Feature Id="ProductFeature" Title="KF-MinGW" Level="1">
      <ComponentGroupRef Id="MingwToolchain" />
    </Feature>

    <!-- Properties -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.AssetsDir)\license.rtf" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="KF-MinGW" />
      </Directory>
    </Directory>

    <!-- UI -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>

    <!-- Custom Actions -->
    <CustomActionRef Id="WixBroadcastEnvironmentChange" />
  </Product>
</Wix>