<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${gdc:logDirectory:whenEmpty=${specialfolder:folder=LocalApplicationData:cached=true}}/KFlearning/logs/${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="threadId" layout="${threadid}" />
        <attribute name="class" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="eventProperties" encode="false">
          <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="2" />
        </attribute>
        <attribute name="exception" encode="false" layout="${exception:format=@}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>