<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Castle.Core.dll" Guid="*">
        <File Id="Castle.Core.dll" KeyPath="yes" Source="$(var.SourceDir)\Castle.Core.dll" />
      </Component>
      <Component Id="Castle.Windsor.dll" Guid="*">
        <File Id="Castle.Windsor.dll" KeyPath="yes" Source="$(var.SourceDir)\Castle.Windsor.dll" />
      </Component>
      <Component Id="ExcelDataReader.dll" Guid="*">
        <File Id="ExcelDataReader.dll" KeyPath="yes" Source="$(var.SourceDir)\ExcelDataReader.dll" />
      </Component>
      <Component Id="KFlearning.Core.dll" Guid="*">
        <File Id="KFlearning.Core.dll" KeyPath="yes" Source="$(var.SourceDir)\KFlearning.Core.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="*">
        <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="WebDriver.dll" Guid="*">
        <File Id="WebDriver.dll" KeyPath="yes" Source="$(var.SourceDir)\WebDriver.dll" />
      </Component>
      <Component Id="WebDriver.Support.dll" Guid="*">
        <File Id="WebDriver.Support.dll" KeyPath="yes" Source="$(var.SourceDir)\WebDriver.Support.dll" />
      </Component>

      <Component Id="KFmaintenance.exe" Guid="*">
        <File Id="KFmaintenance.exe" KeyPath="yes" Source="$(var.SourceDir)\KFmaintenance.exe" />
      </Component>
      <Component Id="KFmaintenance.exe.config" Guid="*">
        <File Id="KFmaintenance.exe.config" KeyPath="yes" Source="$(var.SourceDir)\KFmaintenance.exe.config" />
      </Component>
      <Component Id="KFserver.exe" Guid="*">
        <File Id="KFserver.exe" KeyPath="yes" Source="$(var.SourceDir)\KFserver.exe" />
      </Component>
      
      <Component Id="kodesiana_icon.ico" Guid="*">
        <File Id="kodesiana_icon.ico" KeyPath="yes" Source="$(var.AssetsDir)\kodesiana_icon.ico" />
      </Component>
      <Component Id="license.rtf" Guid="*">
        <File Id="license.rtf" KeyPath="yes" Source="$(var.AssetsDir)\license.rtf" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>