<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
      <ComponentGroup Id="AppRegistry">
        <Component Id="AppStartup" Guid="{17082248-B0BE-4C16-93BD-44B8C9269D4C}" Directory="INSTALLFOLDER">
          <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="KFmaintenance" Value="&quot;[#KFmaintenance.exe]&quot;" KeyPath="yes"/>
          </RegistryKey>
        </Component>
      </ComponentGroup>
	</Fragment>
</Wix>
